import /vendor/etc/init/hw/init.fingerprint.${ro.boot.fp}.rc
import /vendor/etc/init/hw/init.vibrator.rc
import /vendor/etc/init/hw/init.DRG.nfc.rc

on early-boot
    # Audio
    setprop vendor.voice.path.for.pcm.voip false
    setprop persist.vendor.audio.fluence.speaker false
    setprop debug.ftm.mixerpath /vendor/etc/mixer_paths_drg.xml

    # Camera
    setprop camera.ans.yproc.int.main 20,20,20,20
    setprop camera.ans.uvproc.int.main 20,20,20,20
    setprop camera.ans.scene.contract.main 0,0,0,0
    setprop persist.camera.ffcolor FFBB77
    setprop persist.camera.ffcolor.lev2 FFE4CA
    setprop persist.camera.ffcolor.th 3500
    setprop persist.camera.ffcolor.lev3 ffdcb9
    setprop persist.camera.ffcolor.th2 4500
    setprop persist.capture.burst.exposures 0,-9,9
    setprop persist.vendor.camera.isp.turbo 1
    setprop vendor.camera.hal1.packagelist com.dw.btime

     # Radio
     setprop persist.radio.qcom_ext_enable true
     setprop persist.vendor.radio.uicc_se_enabled false

on boot
	# Gestures
	chown system system /proc/AllHWList/tp_fw_ver
	chmod 644 /proc/AllHWList/tp_fw_ver
	chmod 644 /dev/ilitek_ctrl
	chown system system /dev/ilitek_ctrl
	chown system system /proc/AllHWList/tp_alt_rst
	chown system system /proc/AllHWList/tp_alt_st_count
	chown system system /proc/AllHWList/tp_alt_st_enable
	chmod 644 /proc/AllHWList/tp_alt_rst
	chmod 644 /proc/AllHWList/tp_alt_st_count
	chmod 644 /proc/AllHWList/tp_alt_st_enable
	chown system system /proc/AllHWList/tp_double_tap
	chmod 644 /proc/AllHWList/tp_double_tap

on post-fs-data
	# Gestures
	mkdir /data/vendor/misc/touch 0770 system system