on fs
    # Fingerprint
    chown system system /dev/goodix_fp
    chmod 666 /dev/goodix_fp

on post-fs-data
    # Fingerprint
    mkdir /data/system/fingerprint 0770 system system

on property:ro.boot.simslot=1
    setprop persist.radio.multisim.config ss

on property:ro.boot.simslot=2
    setprop persist.radio.multisim.config dsds
